body{
  height:100%;
  width:auto;
  color:black;
  
  }
.container{
  display:block;
  background-color:white;
  
  }
#flex2{
background-image:url("https://hibeeeekay.github.io/Landing_page/images (12).jpeg");
background-repeat:no-repeat;
height:450px; 
margin-top:none;
text-align:center;
color:black;
background-postion-y:center;
}

.flex4{
display:block;
 background-color:orange;
 color:black;
 padding-top:20%;
 
}
img{
  width:auto;
}
h2{
font-family:cursive;
}
button{
margin-top:10%;
padding:12px 80px;
border-radius:18px;
border:0px;
background-color:white;
font-size:20px;
}
footer{
 color:white;
 font-size:20px;
}
@media screen and (max-width:480px){
   html{
        font-size: 16px;
    }
    body{
        width: 100%;
        height: auto;     
    }
    #flex2{
       height: 300px;
       width:100%;
       padding-top:20%;
       
    }
    h1{
      padding-top:0%;
      color:white;
    }
    h2{
       margin-top:10%;
       color:white;
    }  
    button{
      margin-top:30%;
      padding:12px 50px;
      border-radius:10px;
      border:0px;
      background-color:white;
      font-size:16px;
    }
 }
    @media screen and (min-width:640px){
    html{
    font-size: 24px;
    }
    body{
    width: 100%;
    height: auto;
    }
